# Virtual environment
venv_playwright/
venv/
.venv/

# PyCharm & IDE config
.idea/
*.iml

#Python cache
__pycache__/
*.pyc
.pytest_cache/
.python_version

# Data & Logs
*.log
output/
logs/
data/
*.json

dockerignore
.git/
.gitignore
